.zci--answer .zci--color-codes .colorcodesbox {
    height: 120px;
    width: 120px;
    margin: 5px;
    margin-right: 20px;
    margin-top: 4px;
    float: left;
}

.zci--answer .zci--color-codes .circle {
    border-radius: 50%;
}

.zci--answer .zci--color-codes .mini-color {
    display: inline-block;
    width: 2.05em;
    height: 2.05em;
}

.zci--answer .zci--color-codes p.no_vspace {
    margin: 0;
    padding: 0;
}

.zci--answer .zci--color-codes .column1
{
    display: inline-block;
    height: 125px;
}

.zci--answer .zci--color-codes .column2 {
	display: inline-block;
	height: 90px;
    width: 16em;
    margin-left: 2em;
}

.zci--answer .zci--color-codes .mini-color:nth-of-type(n+2) {
    margin-left: -0.7em;
}

.zci--answer .zci--color-codes .cols_column {
    display: inline-block;
    width: 5em;
}

.zci--answer .zci--color-codes .desc_column {
    display: inline-block;
    width: 10em;
}

.zci--answer .zci--color-codes .complementary {
    margin-bottom: 0.25em;
}