<div class="gw">
    <div class="g js_minify--wrap fifty frm">

        <div class="tips_input-section">
            <label for="bill">Bill</label>
            <input type="number" id="bill_input" min="0" step="0.01" />       
        </div>

        <div class="tips_input-section">
            <label for="tip">Tip %</label>
            <input type="number" id="bill_tip" min="0" />
        </div>

        <div class="tips_input-section">
            <label for="number of people">Number of People</label>
            <input type="number" id="bill_people" value="1" min="0">
        </div>

    </div>

    <div class="g js_minify--wrap fifty frm">
        <h4 id="tip_label">Tip</h4>
        <span id="tip">-</span>

        <h4 id="total_label">Total</h4>
        <span id="total">-</span>
    </div>
</div>