<div class="gw">
    <div class="g fifty frm">

        <div class="tips_input-section">
            <label for="bill">Bill</label>
            <input type="number" id="bill_input" min="0" step="0.01" />       
        </div>

        <div class="tips_input-section">
            <label for="tip">Tip %</label>
            <input type="number" id="bill_tip" min="0" />
        </div>

        <div class="tips_input-section">
            <label for="number of people">No. of People</label>
            <input type="number" id="bill_people" value="1" min="0">
        </div>

    </div>

    <div class="g fifty frm">
        <div class="tips_block tips_block--tip js-tips_block-tips">
            <div id="tips_block_tip">
                <h4 id="tip_label">Tip</h4>
                <span id="tip">-</span>
            </div>

            <div id="tips_block_total">
                <h4 id="total_label">Total</h4>
                <span id="total">-</span>
            </div>
        </div>
    </div>
</div>