<div class="tips__col tips__col--left forty">

    <div class="tips_input--section">
        <label for="bill">Bill</label>
        <input class="frm__input bg-clr--white" type="number" id="bill_input" min="0" step="0.01">
    </div>

    <div class="tips_input--section">
        <label for="tip">Tip %</label>
        <input class="frm__input bg-clr--white" type="number" id="bill_tip" min="0">
    </div>

    <div class="tips_input--section">
        <label for="number of people">Number of People</label>
        <input class="frm__input bg-clr--white" type="number" id="bill_people" value="1" min="1">
    </div>

</div><div class="tips__col tips__col--right fifty">

    <div class="tips__block tips__block--tip">
        <div class="tips__label">
            <h4 id="tip_label" class="text--primary">Tip</h4>
            <div class="tips__pp hide text--seccondary t-s">Per Person</div>
        </div><div id="tip" class="tips__amt text--primary">-</div>
    </div>

    <div class="tips__block tips__block--total">
        <div class="tips__label">
            <h4 id="total_label" class="text--primary">Total</h4>
            <div class="tips__pp hide text--seccondary t-s">Per Person</div>
        </div><div id="total" class="tips__amt text--primary t-bold">-</div>
    </div>
</div>
