<div class="gw">
    <div class="g js_minify--wrap fifty frm">
        <label for="">Bill</label>
        <input type="number" id="bill_input" value="100" min="0">

        <label for="" >Tip %</label>
        <input type="number" id="bill_tip" value="20" min="0">

        <label for="">Number of People</label>
        <input type="number" id="bill_people" value="1" min="0">
    </div>

    <div class="g js_minify--wrap fifty frm">
        <h4 id="tip_label">Tip</h4>
        <h1 id="tip">10</h1>

        <h4>Total</h4>
        <h1 id="total">1000</h1>
    </div>
</div>