.zci--tips h4 {
    padding-bottom: 0px;
}

.zci--tips label {
    font-weight: bold;
    font-size: 1.3em;
}

.zci--tips input {
    display: block;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    width: 90%;
}

.is-mobile .zci--tips input {
    display: block;
    font-size: 1.6em;
    line-height: 1.7em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    width: 90%;
}

.is-mobile .zci--tips div#tips_block_tip,
.is-mobile .zci--tips div#tips_block_total {
    display: inline-block;
    margin-right: 1em;
}

.zci--tips .tips_input-section {
    margin-bottom: 1.3em;
}

.zci--tips span#tip,
.zci--tips span#total {
    font-size: 3em;
}

.zci--tips span#tip_label,
.zci--tips span#total_label {
    font-size: 1.5em
}

.zci--tips div#tips_block_tip,
.zci--tips div#tips_block_total {
    margin-top: 0.6em;
}
