.zci--answer .zci--reversecomplement {
    font-weight: 300;
    padding-top: .25em;
    padding-bottom: .25em;
}

.zci--answer .zci--reversecomplement .label {
    font-size: 1.1em;
    color: #808080;
}

.zci--answer .zci--reversecomplement .sequence {
    font-size: 1.5em;
    word-wrap: break-word;
}
