<div class="fifty">
    <div class="thirty">
        <span class="block-display tx--11 tx-clr--grey">WEIGHT</span>
        <input id="bmi_weight" type="text" class="bmi_var eighty frm__input tx--14 tx-clr--slate bg-clr--white" placeholder="lbs">
    </div>
    <div class="sixty">
        <span class="block-display tx--11 tx-clr--grey">HEIGHT</span>
        <input id="bmi_height_ft" type="text" class="bmi_var forty frm__input tx--14 tx-clr--slate bg-clr--white" placeholder="feet">
        <input id="bmi_height_in" type="text" class="bmi_var forty frm__input tx--14 tx-clr--slate bg-clr--white" placeholder="inches">
    </div>
</div>

<div class="fifty">
    <span class="block-display tx--11 tx-clr--grey">RESULT</span>
    <span class="ninety frm__input tx--14 bg-clr--platinum">
        <span id="bmi_result" class="bold"></span>
        <span id="category" class="tx--13 tx-clr--grey"></span>
    </span>
</div>

<div id="bmi_unit_switches" class="sixty">
    <a class="bmi_switch tx-clr--lt" id="bmi_imperial">Imperial</a>/
    <a class="bmi_switch tx-clr--lt" id="bmi_metric">Metric</a>
</div>