<div id="bmi_unit_switches">
    <a class="bmi_switch tx-clr--lt" id="bmi_imperial">Imperial</a>/
    <a class="bmi_switch tx-clr--lt" id="bmi_metric">Metric</a>
</div>

<div id="bmi_calculator" class="t-xxl">
    <input id="bmi_weight" class="bmi_var t-xs" placeholder="your weight" />
    <span class="bmi_text" id="bmi_weight_text_metric"> kg </span>
    <span class="bmi_text" id="bmi_weight_text_imperial"> lbs </span> 
    <span> / </span> 
    <input id="bmi_height" class="bmi_var t-xs" placeholder="your height"/>
    <span class="bmi_text" id="bmi_height_text_metric"> m </span> 
    <span class="bmi_text" id="bmi_height_text_imperial"> in </span> 
    <span> ^2 = </span>
    <span id="bmi_result"></span>
</div>
