<div class="fifty">
    <div class="forty">
        <span class="block-display tx--11 tx-clr--grey">WEIGHT</span>
        <input id="bmi_weight" type="text" class="bmi_var tx--14 tx-clr--slate eighty" placeholder="lbs">
    </div>
    <div class="sixty">
        <span class="block-display tx--11 tx-clr--grey">HEIGHT</span>
        <input id="bmi_height_ft" type="text" class="bmi_var tx--14 tx-clr--slate forty right" placeholder="feet">
        <input id="bmi_height_in" type="text" class="bmi_var tx--14 tx-clr--slate forty" placeholder="inches">
    </div>
</div>

<div class="fifty">
    <span class="block-display tx--11 tx-clr--grey">RESULT</span>
    <input id="bmi_result" type="text" class="tx--14 bg-clr--platinum" disabled>
    <span id="category" class="block-display tx--13 tx-clr--grey"></span>
</div>

<div id="bmi_unit_switches" class="sixty">
    <a class="bmi_switch tx-clr--lt" id="bmi_imperial">Imperial</a>/
    <a class="bmi_switch tx-clr--lt" id="bmi_metric">Metric</a>
</div>