<div>
    <a class="bmi_switch" id="bmi_imperial">Imperial</a>/
    <a class="bmi_switch" id="bmi_metric">Metric</a>
</div>

<input id="bmi_weight" class="bmi_var" placeholder="your weight" />
<span class="bmi_text" id="bmi_weight_text_metric">kg</span>
<span class="bmi_text" id="bmi_weight_text_imperial">lbs</span> / 
<input id="bmi_height" class="bmi_var" placeholder="your height"/>
<span class="bmi_text" id="bmi_height_text_metric">m</span> 
<span class="bmi_text" id="bmi_height_text_imperial">in</span>^2 = 
<span id="bmi_result"></span>
