#bmi_unit_switches { 
    cursor: pointer;
    margin-top: 1.5em;
}

#category {
    padding-top: 0.3em;
}

.bmi_var { 
    border: 1px solid #aaa;
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    padding-left: 0.3em;
    width: 20%;
}

.bmi_var.bmi_error {
    border: 1px solid #de5833;
}

.block-display {
    display: block;
}

.right {
    margin-right: 4%;
}