#bmi_unit_switches { 
    cursor: pointer;
    margin-top: 0.5em;
}

.bmi_var { 
    border: 1px solid #aaa;
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    padding-left: 0.3em;
}

.bmi_var.bmi_error {
    border: 1px solid #de5833;
}
