#bmi_unit_switches { 
    cursor: pointer;
    margin-top: 1.5em;
}

#category {
    margin-left: 2%;
}

.bmi_var.bmi_error {
    border: 1px solid #de5833;
}

.block-display {
    display: block;
}

#bmi_height_ft {
    margin-right: 4%;
}

.bold {
    font-weight: 600;
}
