<p>
    {{lorem_array.length}} 
    Random Paragraph{{#if is_plural}}s{{/if}}
    
    {{#if is_default}}
         | Try <a href="https://duckduckgo.com?q=lorem+ipsum+8&ia=answer">lorem ipsum 8</a> for more
    {{/if}}
</p>
