.zci--ascii_table th, td {
    text-align: center !important;
}

.zci--ascii_table table.ascii_table thead tr {
    border-bottom: 1px solid currentColor;
}

.zci--ascii_table table.ascii_table thead tr th,
.zci--ascii_table table.ascii_table tbody tr td{
    border: none;
}
