.zci--ascii_table .c-base {
    max-width: none;
}

/* horizontal scroll for narrower screens */
.horizontal_scroll {
    height: 14em;
    overflow-y: scroll;
}

/* mobile*/
.is-mobile .zci--ascii_table table.ascii_table {
    width: 700px;
}

/* vertical scroll for mobile */
.is-mobile .horizontal_scroll {
    overflow-x: scroll;
}