#zero_click_wrapper #figlet-wrapper {
    overflow: auto;
}

#zero_click_wrapper #figlet-wrapper pre {
    background-color: inherit;
}

#zero_click_wrapper #figlet-wrapper span pre {
    display: inline-block;
}

@media screen and (max-width:768px) {
    #zero_click_wrapper #figlet-wrapper {
        font-size: 10px;
    }
}

@media screen and (max-width:500px) {
    #zero_click_wrapper #figlet-wrapper {
        font-size: 5px;
    }
}
