.zci--regexp .record .record__cell--key {
    text-transform: none;
}

/* responsive table */
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .zci--regexp .record .record__cell {
        display: block;
        border-top: 1px solid #d0d0d0;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-right: 60%;
        overflow:visible;
    }
}
