.zci--timezonetime .timezone {
    width: 100%;
    height: 2.5em;
}

.zci--timezonetime .timezone > * {
    vertical-align: middle;
}

.zci--timezonetime .timezone__name {
    display: inline-block;
    float: left;
}

.zci--timezonetime .timezone__datetime {
    display: inline-block;
    float: right;
    text-align: right;
}

.zci--timezonetime .timezone__datetime__time {
    display: block;

}

.zci--timezonetime .timezone__datetime__date {
    display: block;
}