<table class ="sudoku" cellpadding="0" cellspacing="0">
    {{#loop 9}}
        <tr>
            {{#loop 9}}
                <td class="square">
                    <span></span>
                </td>    
            {{/loop}}
        </tr>
     {{/loop}}
</table>