<div class="tips__col tips__col--left forty">

    <div class="tips_input--section">
        <label for="bill">Data</label>
        <input class="frm__input bg-clr--white" type="number" id="dl_data" min="0" step="0.1">
        <div class="frm__select">
            <select class="frm__select--data"></select>
        </div>
    </div>

    <div class="tips_input--section">
        <label for="tip">Speed</label>
        <input class="frm__input bg-clr--white" type="number" id="dl_speed" min="0">
        <div class="frm__select">
            <select class="frm__select--speed"></select>
        </div>
    </div>

</div><div class="tips__col tips__col--right fifty">
    <div class="tips__block tips__block--total">
        <div class="tips__label">
            <h4 id="total_label" class="text--primary">Time</h4>
        </div><div id="time" class="tips__amt text--primary t-bold">-</div>
    </div>
</div>