/* GENERAL */

.zci.zci--countdown.is-active {
    padding-top: 10px;
    padding-bottom: 0;
}

.zci--countdown .tile {
    margin-top: 0;
    margin-bottom: 10px;
}

.zci--countdown .cw {
    max-width: 100%;
}

.zci--countdown .zci__main {
    max-width: 100%;
}

.zci--countdown .zci__body {
    padding-left: 0;
}

.zci--countdown .timer_container {
    position: relative;
    width: 50%;
    height: 140px;
    display: block;
}

.zci--countdown .timer_container,
.zci--countdown .display_container {
    float: left;
}

/* TIMER NAME / TIME */

.zci--countdown .display_container {
    width: 55%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.zci--countdown .name {
    margin-top: 1.5em;
}

.zci--countdown .name_input {
    font-size: 1.1em;
    font-weight: bold;
    width: 16.00em;
    margin-bottom: 0.8em;
}

.zci--countdown .time_display {
    font-weight: bold;
    margin-top: -1.2em;
    margin-left: 0.3em;    
}

.zci--countdown .time_display .days,.hours,.minutes {
    font-size: 3em;
}

.zci--countdown .time_display .seconds {
    font-size: 3em;
/*     color: #999; */
    position: relative;
/*     bottom: 0.7em; */
}

.zci--countdown .time_display .time_unit {
    font-size: 1.5em;
    position: relative;
    color: #999;
}

.zci--countdown .time_input span {
    width: 2em;
    text-align: center;
}

/* IE is the only browser that doesn't show a grey placeholder */
.zci--countdown .time_input input:-ms-input-placeholder {
    color: grey;
}

.zci--countdown .name_input {
    font-size: 1.1em;
    font-weight: bold;
    height: 2em;
    border: none;
    padding: 0.2em 0.4em;
    margin-bottom: 2em;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: block;
    left: 8%;
    position: relative;
}

.zci--countdown .time_input .separator {
    font-weight: bold;
    font-size: 1.2em;
}

/* CHANGES FOR MOBILE */

.is-mobile .zci--countdown.is-active,
.is-mobile .zci--countdown .cw {
    padding: 0;
}

.is-mobile .zci--countdown .zci__body {
    padding: 10px;
    margin: 0;
}

.is-mobile .zci--countdown .timer_container,
.is-mobile .zci--countdown #add_timer_container {
    width: 100%;
    margin: 0 0 10px 0;
}

.is-mobile .zci--countdown .play_pause {
    max-width: 138px;
}

.is-mobile .zci--countdown #add_timer_container {
    height: 45px;
    margin-bottom: 0;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 0.25em;
}

.is-mobile .zci--countdown #add_timer_btn {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 43px;
}
