<div class="countdown_container tile status_running">
    <div class="tx-clr--slate play_pause">        
        <div class="progress">
            <div class="fill">
                <span class="rotated_fill"></span>
                <span class="first_half_fill"></span>
            </div>
        </div>
    </div>
    <div class="display_container">
        <div class="name">            
            <span class="tx-clr--slate name_input"/>
        </div>
        <div class="time">           
            <div class = "time_display">
                <table>
                    <tr>
                        <td><span class="tx-clr--slate years">00</span></td>
                        <td><span class="tx-clr--slate y_separator">:</span></td>
                        <td><span class="tx-clr--slate months">00</span></td>
                        <td><span class="tx-clr--slate m_separator">:</span></td>
                        <td><span class="tx-clr--slate days">00</span></td>
                        <td><span class="tx-clr--slate separator">:</span></td>
                        <td><span class="tx-clr--slate hours">00</span></td>
                        <td><span class="tx-clr--slate separator">:</span></td>
                        <td><span class="tx-clr--slate minutes">00</span></td>
                        <td><span class="tx-clr--slate separator">:</span></td>
                        <td><span class="tx-clr--slate seconds">00</span></td>
                    </tr>
                    <tr>
                        <td><span class = "year_month unit_year">Years</span></td>
                        <td><span class="tx-clr--slate units_y_separator">:</span></td>
                        <td><span class = "year_month unit_month">Months</span></td>
                        <td><span class="tx-clr--slate units_m_separator">:</span></td>
                        <td><span class = "other_units time_unit">Days</span></td>
                        <td><span class="tx-clr--slate units_separator">:</span></td>
                        <td><span class = "other_units time_unit">Hrs</span></td>
                        <td><span class="tx-clr--slate units_separator">:</span></td>
                        <td><span class = "other_units time_unit">Mins</span></td>
                        <td><span class="tx-clr--slate units_separator">:</span></td>
                        <td><span class = "other_units time_unit">Secs</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>   
</div>
