<div class="timer_container tile status_running">    
    <div class="display_container">
        <div class="name">            
            <span class="bg-clr--silver tx-clr--slate name_input"></span>
        </div>
        <div class="time">
            <div class="time_display">
                <span class="tx-clr--slate days">00</span><span class="time_unit">D </span>                 
                <span class="tx-clr--slate hours">00</span><span class="time_unit">H </span>
                <span class="tx-clr--slate minutes">00</span><span class="time_unit">M </span>
                <span class="tx-clr--slate seconds">00</span><span class="time_unit">S </span>
            </div>            
        </div>
    </div>        
</div>
