.zci--countdown .time-unit,
.zci--countdown .separator {
    text-align: center;
    display: inline-block;
}

.zci--countdown .time-unit {
    min-width: 3em;
}

.zci--countdown .separator {
    padding: 0 0.4em 0;
    vertical-align: top;
}

.zci--countdown .number,
.zci--countdown .separator {
    font-size: 2.5em;
}