<div class="what_does_dax_say__body text--primary">
    <div class="what_does_dax_say__pre">.--------.
| Quack! |
'--------'
      \         ⌒
       \   ___/ • )
          '---,  /
              <span class="what_does_dax_say__bowtie">▷.◁</span>____/")
              \   \)  /
               \_____/
                 _|_|</div>
</div>