<textarea name="json_validator--input" class="json_validator--input whole tx--12 frm__text" rows="{{rows}}" spellcheck="false" cols="60" placeholder="Paste code here..."></textarea>

<div class="json_validator--indentation-options">
	<input type="radio" name="indentation" value="2"> 2 spaces
	<input type="radio" name="indentation" value="4" checked> 4 spaces
</div>
<button class="btn btn--skeleton whole--screen-s json_validator--validate_button" disabled>Loading..</button>
<button class="btn btn--secondary whole--screen-s json_validator--clear_button">Clear</button>

<div class="json_validator--result__wrap is-hidden">
    <h6 class="text--secondary">Results:</h6>
    <pre class="json_validator--result whole tx--13"></pre>
</div>
