<div class="gw">
    <div class="g json_validator--wrap frm">
        <textarea name="json_validator--input" class="json_validator--input whole tx--12 frm__text" rows="{{cols}}" cols="60" placeholder="Paste code here..."></textarea>
    </div>
</div>

<div class="gw">
    <div class="g json_validator--action_box fifty">
        <button class="btn btn--primary">Validate</button>
    </div>
</div>
