.zci--json_validator textarea {
    margin-bottom: 1.5em;
    font-family: monospace;
    resize: vertical;
    white-space: pre;
    overflow: auto;  /* Hide default scrollbars on IE */
}

.zci--json_validator .json_validator--indentation_options {
    margin-bottom: 1em;
}

.zci--json_validator .json_validator--restart_button {
    cursor: default;
}

.zci--json_validator .json_validator--clear_button {
    cursor: pointer;
}

.zci--json_validator .json_validator--result__wrap {
    margin-top: 1em;
}

/* Mobile */
.is-mobile .zci--json_validator textarea {
    resize: vertical;
}

.is-mobile .zci--json_validator button {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
