.zci--json_validator .js_minify--wrap {
    margin-bottom: 1.5em;
}

.zci--json_validator textarea {
    font-family: 'monospace';
    overflow: auto; # Hide default scrollbars on IE
}

.zci--json_validator .btn {
    cursor: default;
}

.zci--json_validator .json_validator--action_box button {
    padding-left: 0;
    padding-right: 0;
/*     width: 100%; */
}

/* Mobile */
.is-mobile .zci--json_validator .json_validator--action_box {
    text-align: center;
}

.is-mobile .zci--json_validator textarea {
    resize: vertical;
}

.is-mobile .zci--json_validator .btn {
    height: 2.5em;
}
