<div class="zci__body">
    <h3 class="zci__caption  zci__result">{{answer}}</h3>
    <h4 class="zci__subheader">
        <span class="zci__operation  tx-clr--lt2"><a href="https://duckduckgo.com/?q=xkcd%20149">xkcd 149</a>:</span> <span class="zci__input">{{input}}</span>
    </h4>
</div>