<span class="date--result c-base__title"></span>
<span class="date--start c-base__subtitle">
  <div class="tile--s tx-clr--slate-light">
    <span class="date--start-weekday"/>
    <input type="text" pattern='\d{1,2}(nd|th|rd|st)?' maxlength='2'
      class="input--day frm__text input--date input--numeric" />
    <input type="text" class="input--month frm__text input--date" />
    <input type="text" pattern='\d{1,4}' maxlength='4' size='4'
      class="input--year frm__text input--date input--numeric" />
    <span class="input--time input--numeric">
      <input type="text" maxlength='2' pattern='^(2[0-3]|[0-1]?[0-9])$'
        size='2' class="input--hour frm__text input--date" />
      <span class="sep--time">:</span>
      <input type="text" maxlength='2' pattern='^([0-5][0-9]|[0-9])$'
        size='2' class="input--minute frm__text input--date" />
      <span class="sep--time">:</span>
      <input type="text" maxlength='2' pattern='^([0-5][0-9]|[0-9])$'
        size='2' class="input--second frm__text input--date" />
    </span>
  </div>
</span>
<div class="selection--area tile--s tile--mid">
  <span class="template--op gw hide">
    <div class="date--form">
      <div class="input--op-op btn g ten" />
      <input type="number" value="1" min="0" class="input--op-amt g forty frm__input" />
      <div class="input--op-type--wrap g forty frm__select">
        <select class="input--op-type" />
      </div>
      <div class="op--delete btn ddgsi-close g ten" />
    </div>
  </span>
  <span class="op--container frm frm__vert" />
  <div class="op--add btn ddgsi-plus" />
</div>
