<div class="gw">
  {{#each date_components}}
    <form class="frm g third">
        <div class="frm__select">
          <select class="js-set-input input--{{lc name}} date-input-box">
            {{#each entries}}
              <option value="{{value}}">{{display}}</option>
            {{/each}}
          </select>
        </div>
    </form>
  {{/each}}
    <form class="frm g third">
        <input type="text" value="2014" class="frm__input input--year date-input-box" />
    </form>
</div>
<div class="zci__caption">
  <p class="date-result">Result</p>
  <button class="btn btn--alt date-btn">Calculate!</button>
</div>
