.zci--date_math .input--date {
  border-width: 0px;
  padding: 0px;
}

.zci--date_math .input--month {
  width: 5em;
}

.zci--date_math .input--day {
  width: 2.5em;
}

.zci--date_math .input--year {
  width: 30px;
}

.zci--date_math .input--time .frm__text {
  width: 15px;
  text-align: center;
}

.zci--date_math .op--add {
  display: block;
}

.zci--date_math .input--op-amt {
  padding-bottom: 4px;
  height: 100%;
}

.zci--date_math .input--op-type--wrap {
  padding-bottom: 1px;
  height: 100%;
}

.zci--date_math input[type=number]::-webkit-inner-spin-button,
.zci--date_math input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.zci--date_math input[type=number] {
  -moz-appearance: textfield;
}
