<div class="sass_to_css--wrap">
    <textarea name="sass_to_css--input"
              class=" forty--screen-l whole--screen-s tx--12 frm__text sass_to_css--input" rows="{{rows}}" cols="60"
              placeholder="Paste code here..."></textarea>
    <textarea name="sass_to_css--output"
              class="forty--screen-l whole--screen-s tx--12 frm__text sass_to_css--output is-hidden"
              rows="{{rows}}" cols="60"
              placeholder="Output"></textarea>
</div>
<button class="btn is-disabled whole--screen-s sass_to_css--validate_button" disabled>Convert</button>
<button class="btn is-disabled whole--screen-s sass_to_css--clear_button" disabled>Clear</button>

<div class="sass_to_css--error__wrap is-hidden">
    <h6 class="text--secondary">Error: </h6>
    <pre class="sass_to_css--error whole tx--12"></pre>
</div>
