.zci__body h6 {
  color: #333;
}

.record .record__cell__key, .record .record__cell__value {
  padding-top: 10px;
}

.record .record__cell__value {
  padding-left: 20px;
}

.zci--answer .zci__prev,
.zci--answer .zci__next {
    display: inline-block;
    color: #888;
    font-size: 0.9167em;
    padding-top: 1em;
}
.zci--answer .zci__prev:hover,
.zci--answer .zci__next:hover {
    color: #2f82c2;
}
.zci--answer .zci__prev:after {
    content: '';
    margin-left: 0.75em;
    color: #888;
}
.is-mobile .zci--answer .zci__prev,
.is-mobile .zci--answer .zci__next {
    width: 45%;
}
.is-mobile .zci--answer .zci__prev {
    margin-right: 5%;
}
