<div class="gw">
    <div class="g third">
        <p>{{color_name}}</p>
    </div>

    <div class="g third">
        <p>{{color_code}}</p>
    </div>

    <div class="g third">
        <p style="background-color:{{color_code}};">&nbsp;</p>
    </div>
</div>
