<div class="gw">
    <div class="g third">
        <span>{{color_name}}</span>
    </div>

    <small class="g third">
        <span>{{color_code}}</span>
    </small>

    <small class="g third">
        <div>{{color_code}}</div>
    </small>
</div>
