{{#if use_paragraphs}}
    {{#each gibberish_paragraphs}}
        <p>{{this}}</p>
    {{/each}}
{{else}}
    <div class="c-info__content chomp js-ellipsis">
        {{{gibberish_paragraphs}}}
    </div>
{{/if}}
