@media (max-width: 400px) {
    .zci--answer .ddg_shortcuts-column {
        width: 100%;
    }
}

.zci--answer .zero_click_wrapper .zero_click {
    padding-left: 0px !important;
    margin-left:  0px !important;
    margin-right: 0px !important;
}

.zci--answer .ddg_shortcuts-container {
    max-height: 45ex;
    overflow-y: auto;
    overflow-x: hidden;
}

.zci--answer .ddg_shortcuts-column {
    width:          48%;
    display:        inline-block;
    vertical-align: top;
}

.ddg_shortcuts-column:first-child {
    margin-right: 1em;
}

.ddg_shortcuts-column b {
    line-height: 220%;
}

.zci--answer table.ddg_shortcuts-table {
    width: 100%;
}

.zci--answer table.ddg_shortcuts-table td {
    padding-right:  1ex;
    padding-bottom: 1ex;
    vertical-align: top;
}

.zci--answer table.ddg_shortcuts-table td code {
    white-space: nowrap;
}
