{{!-- timers get added programmatically --}}

<div class="tile bg-clr--platinum-light" id="add_timer_container">
    <a id="add_timer_btn" class="tx-clr--slate">{{#unless isMobile}}+{{else}}Add Timer{{/unless}}</a>
</div>
