.zci--answer .zci--urldecode {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-weight: 400;
    word-wrap: break-word;
}

.zci--answer .zci--urldecode .url_decoded {
    white-space: pre-wrap;
    font-size: 1.5em;
}

