.zci--dice .sum{
    width: 12%;
    padding: 20px;
}
.zci--dice .rolls{
    width: 88%;
    padding-left: 5px;
    padding-top: 25px;
}
.zci--dice .nodice{
    text-align: center;   
    display: inline-block;
    margin: 3px 9px 9px 3px;
    min-width: 10px;
    height: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: #999;
    padding: 6px 9px 12px 9px;
    font-size: 15px;
    font-weight: bold;
    color: #999;
}

