<div class="tx--16 tx-clr--grey">
    {{#each list}}
        {{#if isdice}} 
            <div class="rolls dice tx--21">{{rolls}}</div>
        {{else}}
            <div class="rolls">
                {{#each rolls}}
                    <span class="nodice tx--11">{{this}}</span>
                {{/each}}
            </div>
        {{/if}}
    {{/each}}
</div>