<table style="width:100%">
  <tr>
    <td width="10" style="padding: 2px;"><img src="{{pic}}" alt=""></img></td>
    <td width="100">{{gp}}</td>
    <td width="100">{{city}}</td> 
    <td width="100">{{date}}</td>
  </tr>
</table>