.name-days-country {
    padding-right: 0.5em; font-weight:bold;
}

.name-days-tile {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    display: inline-block;
    
    margin:0.25em 0.25em;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
}

.name-days-tile-body {
    padding: 0.3em;
}

.name-days-tile h4, .name-days-tile p {
    text-align: center;
}

.name-days-tile h4 {
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-size: 1.1em;
}

.name-days-tile p {
    padding: 0;
    margin: 0;
    line-height: 1;
}