.name-days-country {
    padding: 0.3em 1em 0.3em 0;
    white-space: nowrap;
    vertical-align: top;
}

.name-days-country-name {
    vertical-align: middle;
    padding-left: 0.2em;
}

.name-days-country .flag-sm {
    vertical-align: middle;
}

.name-days-country, .name-days-dates {
    border-bottom: solid 1px #DDD;
}

tr:last-of-type .name-days-country, tr:last-of-type .name-days-dates {
    border-bottom: none;
}

.name-days-tile {
    display: inline-block;
    min-width: 30%;
    padding: 0 0.5em 0 0;
}
