@media (max-width: 400px) {
    .zci--answer .tmux-column {
        width: 100%;
    }
}
.zci--answer .zero_click_wrapper .zero_click {
    padding-left: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.zci--answer .tmux-container {
    max-height: 45ex;
    overflow-y: scroll;
    overflow-x: hidden;
}

.zci--answer .tmux-column {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.tmux-column:first-child {
    margin-right: 1em;
}

.tmux-column b {
    line-height: 220%;
}

.zci--answer  table.tmux-table {
    width: 100%;
    margin-bottom: 3ex;
}

.zci--answer  table.tmux-table td {
    padding-right: 1ex;
    vertical-align: top;
}

.zci--answer  table.tmux-table td code {
    white-space: nowrap;
}