.zci--answer .zci--weekdaysbetween {
    font-weight: 300;
    padding: .25em 0;
}

.zci--weekdaysbetween .text--primary {
    font-size: 1.7em;
}

.zci--weekdaysbetween .text--secondary {
    font-weight: 400;
    font-size: 1.0em;
}
