<div class="gw">
    <div class="g fifty whole--screen-s">
        <textarea name="js_minify--input" class="js_minify--input whole" rows="{{cols}}" cols="60"></textarea>
    </div>

    <div class="g fifty whole--screen-s is-hidden">
        <textarea name="js_minify--output" class="js_minify--output whole" rows="{{cols}}" cols="60" readonly="readonly" onclick="this.focus();this.select()"></textarea>
    </div>
</div>

<div class="js_minify--action_box">
    <button class="btn btn--skeleton" disabled>Minify</button>
</div>
