<h5>Minify JavaScript Code on the go!</h5>
<div class="js_minify__io_box">
    <textarea name="js_minify__input" id="js_input" rows="20" cols="60"></textarea>
    <textarea name="js_minify__output" id="js_output" rows="20" cols="60"></textarea><br>
</div>
<div class="js_minify__action_box">
    <button class="js_minify__action">Minify</button>
</div>
