<div class="js_minify__io_box">
    <textarea name="js_minify__input" id="js_minify__input" rows="20" cols="60"></textarea>
    <textarea name="js_minify__output" class="is-hidden" id="js_minify__output" rows="20" cols="60" readonly="readonly" onclick="this.focus();this.select()"></textarea><br>
</div>
<div class="js_minify__action_box">
    <button class="js_minify__action" disabled>Minify</button>
</div>
