.zci--js_minify .js_minify__action_box {
    margin-top: 3.25em;
}

.zci--js_minify .js_minify__action {
    background: #5DA4DC;
    color: #fff;
    text-decoration: none;
    font-size: 1.25em;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    margin-bottom: .25em;
    cursor: pointer;
}

.zci--js_minify .js_minify__action:active {
    background: #4793D0;
}

.zci--js_minify #js_minify__input,
.zci--js_minify #js_minify__output {
    width: 45%;
}
