.zci--js_minify .js_minify--wrap {
    margin-bottom: 1.5em;
}

.zci--js_minify textarea {
    font-family: monospace;
    /* Hide default scrollbars on IE */
    overflow: auto;
    resize: vertical;
}

.zci--js_minify .js_minify--input {
    white-space: pre;
}

.zci--js_minify .btn {
    cursor: default;
}

.zci--js_minify select.frm__select {
    width: 100%;
    height: 3em !important;
    margin-bottom: 1em;
}

/* Mobile */
.is-mobile .zci--js_minify .js_minify--action_box {
    text-align: center;
}

.is-mobile .zci--js_minify .js_minify--action_box button {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.is-mobile .zci--js_minify .btn {
    height: 2.5em;
}
