.zci--answer table.calendar {
    text-align: center;
}

.zci--answer .calendar th, .calendar td {
    width: 2.5em;
    text-align: center;
    height: 1.6em;
    position:relative;
}

.zci--answer .calendar__header {
    vertical-align: top;
    height: 2em;
    font-size: 1.25em;
}

.zci--answer .calendar__today {
    color: white;
    background-color: #808080;
}

.zci--answer .calendar .circle {
    display: inline-block;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em;
}

.zci--answer .calendar a {
    color: white;
    font-size: 1.1em;
}

.zci--answer .calendar .t_left {
    position: absolute;
    left:0.4em;
    background-color: #bfbfbf;
}

.zci--answer .calendar .t_right {
    position: absolute;
    right:0.4em;
    background-color: #bfbfbf;
}

.zci--answer .ddgsi-arrow-left {
    font-size: 0.75em;
}

.zci--answer .ddgsi-arrow-right {
    font-size: 0.75em;
} 
