<div class="fix">
	<div class="half zci--days_between--centered">
		<div class="zci--days_between--inline">
			<div class="h-m zci--days_between--title">Start Date: </div>
			<form class="frm  frm--vrt">
				<label class="frm__label">Day</label>
				<input type="tel" maxlength="2" id="zci--days_between--start_day" class="frm__input" placeholder="dd" autocomplete="off" />
			</form>
			<form class="frm  frm--vrt">
				<label class="frm__label">Month</label>
				<input type="tel" maxlength="2" id="zci--days_between--start_month" class="frm__input" placeholder="mm" autocomplete="off" />
			</form>
			<form class="frm  frm--vrt">
				<label class="frm__label">Year</label>
				<input type="tel" maxlength="4" id="zci--days_between--start_year" class="frm__input" placeholder="yyyy" autocomplete="off" />
			</form>
		</div>
	</div>

	<div class="half zci--days_between--centered">
		<div class="zci--days_between--inline">
			<div class="h-m zci--days_between--title">End Date: </div>
			<form class="frm  frm--vrt">
				<label class="frm__label">Day</label>
				<input type="tel" maxlength="2" id="zci--days_between--end_day" class="frm__input" placeholder="dd" autocomplete="off" />
			</form>
			<form class="frm  frm--vrt">
				<label class="frm__label">Month</label>
				<input type="tel" maxlength="2" id="zci--days_between--end_month" class="frm__input" placeholder="mm" autocomplete="off" />
			</form>
			<form class="frm  frm--vrt">
				<label class="frm__label">Year</label>
				<input type="tel" maxlength="4" id="zci--days_between--end_year" class="frm__input" placeholder="yyyy" autocomplete="off" />
			</form>
		</div>
	</div>
</div>
<div id="zci--days_between--calculate" class="btn btn--primary">Calculate</div>
