<div class="zci--days_between">
	<div class="zci__body">
		<div class="gw">
			<div class="g half ">
				<span class="h-m forty">Start Date: </span>
				<form class="frm  frm--vrt twenty">
					<label class="frm__label">Day</label>
					<input type="number" max="31" class="start_day frm__input" placeholder="dd" autocomplete="off">
				</form>
				<form class="frm  frm--vrt twenty">
					<label class="frm__label">Month</label>
					<input type="number" max="12" class="start_month frm__input" placeholder="mm" autocomplete="off">
				</form>
				<form class="frm  frm--vrt twenty">
					<label class="frm__label">Year</label>
					<input type="number" max="9999" class="start_year frm__input" placeholder="yyyy" autocomplete="off">
				</form>
			</div>

			<div class="g half">
				<span class="h-m forty">End Date: </span>
				<form class="frm  frm--vrt twenty">
					<label class="frm__label">Day</label>
					<input type="number" max="31" class="end_day frm__input" placeholder="dd" autocomplete="off">
				</form>
				<form class="frm  frm--vrt twenty">
					<label class="frm__label">Month</label>
					<input type="number" max="12" class="end_month frm__input" placeholder="mm" autocomplete="off">
				</form>
				<form class="frm  frm--vrt twenty">
					<label class="frm__label">Year</label>
					<input type="number" max="9999" class="end_year frm__input" placeholder="yyyy" autocomplete="off">
				</form>
			</div>
		</div>
		<div class="btn btn--primary calculate">Calculate</div>
	</div>
</div>
