/*
    Document   : zeroclickinfo-goodies/share/goodie/firefox_awesome_bar_cheat_sheet/firefox_awesome_bar_cheat_sheet.css
    Created on : 2015-05-23 06:59 PM
    Author     : domjacko
*/

root {
    display: block;
}

.zci--answer  table.sheet-table th {
    padding-right: 1ex;
    padding-bottom: 1ex;
    text-align: left;
    font-weight: bold;
}

.zci--answer h5 {
    padding-bottom: 0.7em;
}

.zci--answer  table.sheet-table {
    width: 100%;
    margin-bottom: 1ex;
}

.zci--answer  table.sheet-table td {
    padding-bottom: 1ex;
}
.zci--answer  table.sheet-table td code {
    white-space: nowrap;
}

@media (max-width: 380px) {
    .zci--answer .sheet-column {
	width: 100%;
    }
}

