<form class="converter">
    <div class="converter__input">
        <label class="converter__input__label">Roman</label>
        <input type="text" class="converter__input__field" />
    </div>
    <div class="converter__output">
        <label class="converter__output__label">Arabic</label>
        <input type="text" class="converter__output__field" />
    </div>
</form>
