.zci--roman .converter {
    font-size: 1.5em;
    font-weight: bold;
}

.zci--roman .converter__input, .zci--roman .converter__output {
    float: left;
    width: 30%;
}

.zci--roman .converter__input__label, .zci--roman .converter__output__label {
    display: block;
    text-align: center;
}

.zci--roman .converter__input__field, .zci--roman .converter__output__field {
    display: block;
    width: 100%;
    height: 1.5em;
    font-size: 1.5em;
    text-align: center;
}

.zci--roman .converter__equal {
    float: left;
    width: 10%;
    margin-top: 2em;
    text-align: center;
}
