<div class='c-base__sub'>
    <span class='sun_info--risebox'>
        <img src='{{sunrise_svg}}' width='48' height='48'/>
    </span>
    <span class='sun_info--timeboxes sun_info--border-right'>
        <span class='sun_info--times text--primary tx--25'>{{rise}}</span>
    </span>
    <span class='sun_info--setbox'>
        <img src='{{sunset_svg}}' width='48' height='48'/>
    </span>
    <span class='sun_info--timeboxes'>
        <span class='text--primary sun_info--times tx--25'>{{set_data}}</span>
    </span>
</div>
