.zci--answer .zci--suninfo {
    font-size:1.25em;
    font-weight:400;
    max-width:350px;
}

.zci--answer .zci--suninfo .suninfo--header {
    font-size:0.75em;
    font-weight:300;
}

.zci--answer .zci--suninfo .suninfo--timeboxes {
    display:inline-block;
    height:48px;
    line-height:60px;
    vertical-align:top;
    padding:0 1em 0.5em;
}

.zci--answer .zci--suninfo .suninfo--times {
    height:48px;
}

.zci--answer .zci--suninfo .suninfo--setbox {
    display:inline-block;
    width:48px;
    height:48px;
    border-left:1px solid #ccc;
    padding: 0 0 0 0.5em;
}
.zci--answer .zci--suninfo .suninfo--risebox {
    display:inline-block;
    width:48px;
    height:48px;
}

