<div class="tile--css_animations__title">
    {{ title }}
</div>

<div class="tile--css_animations__demo">
    {{{ links }}}
    <style type="text/css">
        {{{ css }}}
    </style>
    {{{ html }}}
</div>