<span class="c-icon__sub {{#if is_number_query}} text--primary {{/if}}">Atomic number: {{atomic_number}}</span>
<span class="c-icon__sub {{#if is_mass_query}} text--primary {{/if}} ">Atomic mass: {{atomic_mass}} u</span>
<span class="c-icon__sub ">Type: {{element_type}}</span>