.zci--answer .regex-container {
    max-height: 45ex;
    overflow-y: scroll;
    overflow-x: hidden;
}

.zci--answer .regex-container .regex-column {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.zci--answer .regex-container table.regex-table {
    width: 100%;
    margin-bottom: 1ex;
}

@media (max-width: 380px) {
    .zci--answer .regex-container .regex-column {
	width: 100%;
    }
}