.calendar {
    text-align: center;
    line-height: 2.17;
    weight: 400;
    padding: 1.25em;
}

.calendar .header-day{
    color:#AAA;
}
.calendar  .weekend {
   color:#888; 
}

.calendar .weekday{
    color: #333;
}

.calendar .month-name{
    font-size: 1.18em;
    font-weight: 600;
    color: #333;
    text-align:left;
}
.calendar .year{
    font-size: 1.18em;
    font-weight: 300;
    color: #AAA;
    text-align:right;
} 

.calendar .today{
    background-color:#e37151;
    display: inline-block;
    text-align: center;
    color: #FFF;
    -moz-border-radius: 11px;
    border-radius: 11px;
    height:22px;
    width:22px;

}

.calendar .last-month{
    color: #CCC;
}

.calendar .next-month{
    color: #CCC;
}

.zci--answer .calendar th, .calendar td {
    width: 2.5em;
    text-align: center;
    height: 2.17em;
    position:relative;
    font-weight: 400;
}
/*
.zci--answer .calendar__header {
    vertical-align: top;
    height: 2em;
    font-size: 1.18em;
    font-weight: 600;
}

.zci--answer .calendar__today {
    color: white;
    background-color: #808080;
}

.zci--answer .calendar .circle {
    display: inline-block;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em;
}

.zci--answer .calendar a {
    color: white;
    font-size: 1.1em;
}

.zci--answer .calendar .t_left {
    position: absolute;
    left:0.4em;
    background-color: #bfbfbf;
}

.zci--answer .calendar .t_right {
    position: absolute;
    right:0.4em;
    background-color: #bfbfbf;
}

.zci--answer .ddgsi-arrow-left {
    font-size: 0.75em;
}

.zci--answer .ddgsi-arrow-right {
    font-size: 0.75em;
} */
