<table class="calendar">
    <tbody>
        <tr>
            <th colspan="7"><span class="circle t_left"><a href="/?q=calendar%20June%202015"><span class="ddgsi ddgsi-arrow-left"></span></a></span><span class="calendar__header"><b>{{month_name}} {{year}}</b></span><span class="circle t_right"><a href="/?q=calendar%20August%202015"><span class="ddgsi ddgsi-arrow-right"></span></a></span></th>
        </tr>
        <tr>
            <th>S</th>
            <th>M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
        </tr>
 	{{#each days}}
        <tr>
	    {{#each this}}
                <td>{{this}}</td>
            {{/each}}
        </tr>
       {{/each}}
      </tbody>
</table>
