{{milliseconds}}
<table class="calendar">
    <tr>
        <th colspan="7">
            <span class="circle t_left">
                <a href="/?q=calendar%20October%202016">
                    <span class="ddgsi ddgsi-arrow-left"></span>
                </a>
            </span>
            <span class="calendar__header">
                <b>November 2016</b>
            </span>
            <span class="circle t_right">
                <a href="/?q=calendar%20December%202016">
                    <span class="ddgsi ddgsi-arrow-right"></span>
                </a>
            </span>
        </th>
    </tr>
    <tr>
        <th>S</th>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
    </tr>
    <tr>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
    </tr>
    <tr>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
        <td>26</td>
    </tr>
    <tr>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
    </tr>
</table>