<table class="calendar">
<col class="weekend" />
<col />
<col />
<col />
<col />
<col />
<col  style="color: #333" />
    <tbody>
        <tr>
            <th colspan="7"><span class="calendar__header"><b>{{month_name}} {{year}}</b></span></th>
        </tr>
        <tr>
            <th>S</th>
            <th>M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
        </tr>
 	{{#each days}}
        <tr>
	    {{#each this}}
                <td>{{this}}</td>
            {{/each}}
        </tr>
       {{/each}}
      {{#if bumper_row}}
      <tr>
          <td>&nbsp;</td>
      </tr> 
      {{/if}}
      </tbody>
</table>
