table.calendar {
	text-align: center; 
}

.calendar th, .calendar td {
	width:2.5em; 
	text-align:center; 
}

.calendar__header {
	vertical-align: top; 
	height: 2em; 
	font-size: 1.25em; 
}

.calendar__today {
	color:white; 
	background-color: #808080; 
}

.zci--answer .calendar .circle{
    padding-left: 0.2em;
    padding-right:0.2em;
}