.zci--answer .zci--htmlentitiesencode {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.zci--answer .zci--htmlentitiesencode .line-single {
    font-weight: 300;
    font-size: 1.5em;
}
.zci--answer .zci--htmlentitiesencode .line-multiple {
    font-weight: 300;
    font-size: 1.5em;
}
