.zci--conversions {
    width: 90%;
    height: 50;
}

.zci--plot {
  margin-top: 1em;
}

.zci--frequency_spectrum .plot_background {
    fill: #FFFFFF;
    stroke: #D1D1D1;
    stroke-width: 1px;
}

.zci--frequency_spectrum .plot_panel {
    fill: #F6F6F6;
}

.zci--frequency_spectrum .axis_line {
    stroke: #DCDCDC;
}

.zci--frequency_spectrum .x_axis_tick {
    stroke: #DCDCDC;
}

.zci--frequency_spectrum .x_axis_text {
    font-size: 0.7em;
    fill: #303030;
}

.zci--frequency_spectrum .x_axis_label {
    font-size: 0.6em;
    fill: #ACACAC;
}

.zci--frequency_spectrum .x_axis_gridline {
    stroke: #DCDCDC;
}

.zci--frequency_spectrum .major_range {
    fill: #9DCFE1;
    stroke: #9DCFE1;
}

.zci--frequency_spectrum .major_range_label {
    font-size: 0.7em;
    fill: #303030;
}

.zci--frequency_spectrum .minor_range {
    fill: #80C4DE;
}

.zci--frequency_spectrum .marker {
    stroke-width: 2px;
    stroke-opacity: 1;
}

.zci--frequency_spectrum .marker_tag {
    opacity: 1;
}

.zci--frequency_spectrum .marker_label {
    font-size: 0.5em;
    fill: #FFFFFF;
}
