/* 
 * As IE 8 and below can't show SVG,
 * we use the '\9' attribute suffix
 * to suppress all SVG text elements
*/

.zci--answer .zci--conversions {
    font-size: 1.5em;
    font-weight: 300;
    padding-top: .25em;
    padding-bottom: .25em;
}

.zci--conversions {
    width: 90%;
    height: 50;
}

.zci--conversions .plot_panel {
    fill: #F6F6F6;
}

.zci--conversions .x_axis_tick {
    stroke: #DCDCDC;
}

.zci--conversions .x_axis_text {
    font-size: 0.7em;
    fill: #303030;
}

.zci--conversions .x_axis_label {
    font-size: 0.8em;
    fill: #888;
}

.zci--conversions .x_axis_gridline {
    stroke: #DCDCDC;
}

.zci--conversions .major_range {
    fill: #9DCFE1;
}

.zci--conversions .major_range_label {
    font-size: 0.7em;
    fill: #303030;
}

.zci--conversions .minor_range {
    fill: #80C4DE;
}

.zci--conversions .marker {
    stroke-width: 2px;
    stroke-opacity: 0.8;
}
