.zci--cheat_sheets.has-chomp-expanded .cw {
    max-width: none;
}

.zci--cheat_sheets .cheatsheet__title {
    padding-bottom: 1em;
    font-size: 1.1111em;
    font-weight: bold;
    color: #000;
}

.zci--cheat_sheets .cheatsheet__container {
    margin-top: 0.5em;
}

.zci--cheat_sheets .cheatsheet__container .cheatsheet__section {
    width: 295px;
    float: left;
    margin-bottom: 30px;
}

.zci--cheat_sheets td {
    vertical-align: top;
}

.zci--cheat_sheets code {
    display: inline-block;
    border: 1px solid #e0e0e0;
    padding: 3px 5px 0px;
    border-radius: 2px;
    font-size: 0.833em;
    color: #333;
    background-color: #fff;
    white-space: normal;
    word-break: normal;
    margin-bottom: 0.2em;
    line-height: 1.7;
}

.zci--cheat_sheets td.cheatsheet__key {
    min-width: 80px;
    line-height: 1.7;
}

.zci--cheat_sheets td.cheatsheet__value {
    padding-left: 14px;
    line-height: 1.4;
}

.zci--cheat_sheets .cheatsheet__footer {
    border-top: 1px solid rgba(0,0,0,0.15);
    padding-top: 5px;
    clear: both;
}

.zci--cheat_sheets .cheatsheet__footer hr {
    color: rgba(0,0,0,.15);
}

/*
 * The following CSS is used to control the compressed/expanded display.
 * For the initial compressed view, we only show the first 3 key-value pairs, for the first 2 sections
 */

/* Hide rows 4+ */
.zci--cheat_sheets .cheatsheet__container.compressed .cheatsheet__section tbody tr:nth-child(n+4) {
    display: none;
}

/* Media queries for smaller screens... */
@media (max-width:350px) {

    .zci--cheat_sheets .cheatsheet__container .cheatsheet__section,
    .zci--cheat_sheets .cheatsheet__container.compressed .cheatsheet__section {
        width: 100%;
    }

    .zci--cheat_sheets .cheatsheet__value {
        max-width: none;
    }

}