.zci--cheat_sheets .cheatsheet__title {
    padding-bottom: 1em;
    font-size: 1.1111em;
    font-weight: bold;
    color: #000;
}

.zci--cheat_sheets .cheatsheet__container .cheatsheet__section {
    width: 32%;
    float: left;
}

.zci--cheat_sheets .cheatsheet__container.compressed .cheatsheet__section {
    width: 45%;
}

.zci--cheat_sheets .cheatsheet__data {
    display: inline-block;
    margin-bottom: 0.4em;
}

.zci--cheat_sheets .cheatsheet__data code {
    color: #333;
    padding: 4px 5px 2px;
    background-color: #fff;
    padding-bottom: 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    line-height: 1.7;
    font-size: 0.833em;
}

.zci--cheat_sheets hr {
    color: rgba(0,0,0,.15);
}

/*
 * The following CSS is used to control the compressed/expanded display.
 * For the initial compressed view, we only show the first 3 key-value pairs, for the first 2 sections
 */

/* Hide rows 4+ */
.zci--cheat_sheets .cheatsheet__container.compressed .cheatsheet__section tbody tr:nth-child(n+4) {
    display: none;
}

/* Media queries for smaller screens... */
@media (max-width:350px) {

    .zci--cheat_sheets .cheatsheet__container .cheatsheet__section,
    .zci--cheat_sheets .cheatsheet__container.compressed .cheatsheet__section {
        width: 100%;
    }

}

@media (min-width:400px) and (max-width: 900px) {

    .zci--cheat_sheets .cheatsheet__container .cheatsheet__section,
    .zci--cheat_sheets .cheatsheet__container.compressed .cheatsheet__section {
       width: 45%;
    }
}
