<div class="record">
    <table class="record__body">
        {{#each terms}}
            <tr class="record__row {{#if ../meta.options.rowHighlight}}record__highlight{{/if}}">
                <td class="record__cell__key {{#if ../meta.options.keySpacing}}record_keyspacing{{/if}}">{{key}}:</td>
                <td class="record__cell__value">{{val}}</td>
            </tr>
        {{/each}}
    </table>
</div>
