<table>
  <tbody>
    {{#each items}}
      <tr>
        <td class="cheatsheet__key">
          {{cheatsheets_codeblock key}}
        </td>
        <td class="cheatsheet__value">
          {{val}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
