<ul>
  {{#each items}}
    <li class="text--primary">
      <span class="cheatsheet__key">{{key}}</span>
      <span class="cheatsheet__value text--secondary">{{val}}</span>
    </li>
  {{/each}}
</ul>
