#stopwatch_container {
    width: 100%;
}

/*time panes*/
.zci--stopwatch .goodie-pane {
    width: 41%;
    height: 100%;
    line-height: 50px;
    background-color: rgba(150,150,150,.15);
    display: inline-block;
    padding: .5em 1.75em;
    border-radius: 2px;
}

.zci--stopwatch .goodie-pane-right {
    float: right;
}

.zci--stopwatch .pane-block {
    margin-bottom: 10px;
    font-family: sans-serif;
}

/*time*/
.zci--stopwatch .label {
    font-size: 13px;
    vertical-align: 4px;
    font-weight: 400;
}

.zci--stopwatch .time {
    float: right;
    font-size: 40px;
}

.zci--stopwatch #total_time {
    font-weight: 400;
}

.zci--stopwatch #current_time {
    font-weight: 300;
}

/*buttons*/
.zci--stopwatch .stopwatch__btn {
    height: 68px;
    width: 68px;
    border-radius: 34px;
    text-align: center;
    line-height: 63px;
    border: 1px solid black;
    font-size: 13px;
    font-weight: bold;
    outline: none; /*remove the blue outline in chrome/opera*/
    background: none;
    color: #393939;
}

.zci--stopwatch .stopwatch__left {
    float: right;
}

/*remove the dashed line around button in FF/IE*/
.zci--stopwatch .stopwatch__btn::-moz-focus-inner {
    border: 0;
}

.zci--stopwatch .stopwatch__btn.start {
    border-color: #20b84c !important;
    background-color: #20b84c;
    color: white !important;
}

.zci--stopwatch .stopwatch__btn.stop {
    border-color: #ff3908 !important;
    background-color: #ff3908;
    color: white !important;
}

.zci--stopwatch .stopwatch__btn[disabled] {
    color: #b4b4b4;
    border-color: #b4b4b4;
}

.zci--stopwatch #reset_btn {
    margin-right: 10px;
}

.zci--stopwatch .btn-wrapper {
    padding: 0.1em .70em;
}

/*dark theme*/
.dark-header .zci--stopwatch .stopwatch__btn {
    color: #ccc;
    border-color: #ccc;
}

.dark-header .zci--stopwatch .stopwatch__btn[disabled] {
    color: #484848;
    border-color: #484848;
}

/*split table*/
.zci--stopwatch table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-family: sans-serif;
}

.zci--stopwatch td {
    text-align: center;
    border-top: 1px solid rgba(155,155,155,.15);
}

.zci--stopwatch th {
    color: #999;
    font-weight: normal;
    text-align: center;
}

.zci--stopwatch .lap-num {
    font-size: 13px;
    text-align: left;
    padding-left: .75em;
}

.zci--stopwatch .lap-time {
    font-size: 16px;
    text-align: right;
    width: 48%;
    padding-right: 1.75em;
}

.zci--stopwatch .lap-time.lap-total {
    padding-right: 2.75em;
}

/*stack the big time divs if the screen is too narrow*/
@media screen and (max-width: 700px) {
    .zci--stopwatch .goodie-pane {
        width: 92%;
        padding: 0 4%;
    }

    .zci--stopwatch .goodie-pane-right {
        float: none;
        margin-top: 5px;
    }

    .zci--stopwatch .zci__body {
        padding-right: 1em;
    }

    .zci--stopwatch .lap-time {
        padding-right: 1em !important;
    }
}
