<div class="urlencode--wrap">
    <textarea name="urlencode--input"
              class=" forty--screen-l whole--screen-s tx--12 frm__text urlencode--input" rows="{{rows}}" cols="60"
              placeholder="Paste url here..."></textarea>
    <textarea name="urlencode--output"
              class="forty--screen-l whole--screen-s tx--12 frm__text urlencode--output is-hidden"
              rows="{{rows}}" cols="60"
              placeholder="Output"></textarea>
</div>
<button class="btn is-disabled whole--screen-s urlencode--encode_button" disabled>Encode</button>
<button class="btn is-disabled whole--screen-s urlencode--decode_button" disabled>Decode</button>
<button class="btn is-disabled whole--screen-s urlencode--clear_button" disabled>Clear</button>

<div class="urlencode--error__wrap is-hidden">
    <h6 class="text--secondary">Error: </h6>
    <pre class="urlencode--error whole tx--12"></pre>
</div>