.zci--answer .zci--urlencode {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.zci--answer .zci--urlencode .label {
    font-weight: 300;
    font-size: 1.5em;
    color: #808080;
}
.zci--answer .zci--urlencode .url {
    color: #393939;
}
