.zci--answer li {
    margin-left: 1em;
}

.zci--answer ul {
    list-style: initial;
}

.zci--answer ol {
   list-style: decimal;
}

.zci--answer blockquote {
	color: #999;
	border-left: 2px solid #999;
	padding-left: 1em;
}