.zci--chord_diagrams {
    fill: black;
    stroke: black;
}

.zci--chord_diagrams .chord {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    text-align: center;
}

.zci--chord_diagrams .chord * {
    overflow: visible;
}

/* Dark theme changes */
.dark-bg .zci--chord_diagrams {
    fill: white;
    stroke: white;
}