<div class="gw">
     <div class="g third">
        {{description}}(<a class="text--primary" href='https://www.ietf.org/rfc/{{rfc}}.txt'>{{rfc}}</a>):
     </div>
     <div class="g twothird">  
        {{#each ip}}
            <div>{{this}}</div>
        {{/each}}
     </div>
</div>