.private_network .left-column {
    vertical-align: top;
    display: inline-block;
    width: 30%;
}

.private_network .right-column {
    vertical-align: top;
    display: inline-block;
    width: 70%;
}

.private_network .record__highlight:nth-of-type(2n) {
	background: rgba(150,150,150,0.3);
}