{{#if subtitle_url}}
    <h4 class="c-base__sub">
        {{{favicon 'default'}}}
        <a class="c-base__link tx--14" href="{{subtitle_url}}">{{subtitle_text}}</a>
    </h4>
{{/if}}
{{#if subtitle_image}}
    <img class="c-base__img" src="{{imageProxy subtitle_image}}" />
{{/if}}
