<div class='zci__conversions-controls'>
    <h3 class='zci__caption zci__result'>{{{styled_output}}} {{right_unit}}</h3>
    <h4 class='zci__subheader'>
        <span class='zci__operation tx-clr--lt2'>Convert:</span>
        <span class='zci__input'>{{{markup_input}}} {{left_unit}}</span>
    </h4>
</div>