<div class='zci__conversions-controls'>
	<div class='zci__conversions_left'>
		<span id='zci__conversions-left-in'>{{value_in}}</span>
		<span id='zci__conversions-left-unit'>{{unit_from}}</span>
	</div>
	<div class='zci__conversions_equals'> = </div>
	<div class='zci__conversions_right'>
		<span id='zci__conversions-right-in'>{{value_out}}</span>
		<span id='zci__conversions-right-unit'>{{unit_to}}</span>
	</div>
</div>