<div class="zci__conversions">
    <div class="zci--conversion-container">

        <!-- the first input section -->
        <section class="zci__conversions_left">
            <input name='zci__conversions-left-in' value='{{value_in}}' /> 
            <select name='conversions-physical-quantity'>
                <option value='mass'>Meter</option>
                <option value='mass'>Kilometer</option>
                <option value='length'>Length</option>
                <option value='area'>Area</option>
                <option value='volume'>Volume</option>
                <option value='duration'>Duration</option>
                <option value='pressure'>Pressure</option>
                <option value='energy'>Energy</option>
                <option value='power'>Power</option>
                <option value='angle'>Angle</option>
                <option value='force'>Force</option>
                <option value='temperature'>Temperature</option>
                <option value='digital'>Digital</option>
            </select>     
        </section>

        <!-- the equals sign -->
        <section class="zci__conversions_equals">
            <span>=</span>
        </section>

        <!-- the second input section -->
        <section class="zci__conversions_right">
            <input name='zci__conversions-left-in' value='{{value_in}}' />  
            <select name='conversions-physical-quantity'>
                <option value='mass'>cm</option>
                <option value='mass'>Kilometer</option>
                <option value='length'>Length</option>
                <option value='area'>Area</option>
                <option value='volume'>Volume</option>
                <option value='duration'>Duration</option>
                <option value='pressure'>Pressure</option>
                <option value='energy'>Energy</option>
                <option value='power'>Power</option>
                <option value='angle'>Angle</option>
                <option value='force'>Force</option>
                <option value='temperature'>Temperature</option>
                <option value='digital'>Digital</option>
            </select>
        </section>

    </div>
</div>