<div class='zci__conversions-controls'>
	<div class='zci__conversions_left'>
		<span id='zci__conversions-left-in' class='text--secondary'>{{markup_input}}</span>
		<span id='zci__conversions-left-unit' class='text--secondary'>{{left_unit}}</span>
	</div>
	<div class='zci__conversions_equals'> = </div>
	<div class='zci__conversions_right'>
		<span id='zci__conversions-right-in' class='text--primary'>{{styled_output}}</span>
		<span id='zci__conversions-right-unit' class='text--primary'>{{right_unit}}</span>
	</div>
</div>