<div class='zci__conversions-controls'>
	<div class='zci__conversions_left text--primary'>
		{{markup_input}} {{left_unit}}
	</div>
	<div class='zci__conversions_equals text--primary'> = </div>
	<div class='zci__conversions_right text--primary'>
		{{styled_output}} {{right_unit}}
	</div>
</div>