<div class="zci__conversions">
    <div class="zci__conversion-container">
    
        <!-- the left input section -->
        <section class="zci__conversions_left">
            <input name='zci__conversions-left-in' /> 
            <select id="frm__select" class="zci__conversions_left-select"></select>     
        </section>

        <!-- the equals sign -->
        <section class="zci__conversions_equals">
            <span>=</span>
        </section>

        <!-- the right input section -->
        <section class="zci__conversions_right">
            <input name='zci__conversions-left-in' />  
            <select id="frm__select" class="zci__conversions_right-select"></select>
        </section>
        </div>

    </div>

    <!-- the bottom input section to change the unit type -->
    <section class="zci__conversions_bottom">
        <select id="frm__select" class="zci__conversions_bottom-select"></select>
    </section>
    
</div>