<!-- the bottom input section to change the unit type -->
<div class="frm frm--top">
    <div class="frm__select">
        <select class="frm__select--top"></select>
    </div>
</div>

<!-- the left input section -->
<div class="frm frm--bottom clearfix">
    <div class="input__wrap input__wrap--left shadow">
        <input class="frm__input frm__input--left">
        <div class="frm__select">
            <select class="frm__select--left"></select>
        </div>
    </div>

    <div class="equals-sign tx-clr--slate">=</div>

    <div class="input__wrap input__wrap--right shadow">
        <input class="frm__input frm__input--right">
        <div class="frm__select">
            <select class="frm__select--right"></select>
        </div>
    </div>
</div>
