<div class="metronome_container">
  <div class="bpm_display">
    <input type="text" class="t-xxxl" value="60" readonly></input>
    <span class="bpm">BPM</span>
  </div>
  <input class="bpm_slider" type ="range" min ="30" max="250" step ="1" value ="60"/>
  <audio class="audio_click">
      <source src="/share/goodie/metronome/woodblock.wav" type="audio/wav">
  </audio>
  <button type="button" class="ddgsi-play"></button>
</div>
