<div class="metronome_container">
  <input id="slider" type ="range" min ="30" max="250" step ="1" value ="60"/> 
  <audio id="audioBeat" >
      <source src="/share/goodie/metronome/woodblock.wav" type="audio/wav">
  </audio>
  <button type="button" id="playButton">Play/Pause</button>
</div>
