.zci--answer .blooddonor
{
	font-size: 1.1em;
	line-height: 1.5em;
}

.zci--answer .blooddonor .text--secondary
{
	padding-right: 1em;
}

.zci--answer .blooddonor tr
{
	border-top: 1px solid rgba(155,155,155,.15);
}

.zci--answer .blooddonor tr:nth-of-type(1)
{
	border-top: 0px;
}