.zci--answer .zci--chinesezodiac {
  font-size: 1.5em;
  font-weight: 300;
  padding-top: .25em;
  padding-bottom: .25em;
}

.zci--answer .zci--chinesezodiac .zodiaccharacter {
  font-size: 2em;
}

.zci--answer .zci--chinesezodiac .statement {
  color: #808080;
}
