.zci--answer .zci--chinesezodiac {
  font-size: 1.5em;
  font-weight: 300;
  padding-top: .25em;
  padding-bottom: .25em;
}

.zci--answer .zci--chinesezodiac .zodiaccharacter {
  font-size: 1.5em;
  /*color: #393939;*/
}

.zci--answer .zci--chinesezodiac .statement {
  font-size: 1em;
  color: #747474;
}
