<div class="gw">
		<div class="g  third"><a href='{{info_url}}'>{{provider}}</a></div>
		<div class="g  third">
            <span class="ip4">
                {{#each ip4}}
                    <div>{{this}}</div>
                {{/each}}
            </span>
        </div>
		<div class="g  third">
            <span class="ip6">
                {{#each ip6}}
                    <div>{{this}}</div>
                {{/each}}                
            </span>
       </div>
</div>
