<!-- the calculator -->
<div class="calculator--wrap tile--calculator">
    <div class="tile__calc clearfix">
        <button class="tile__skip-calc">Skip calculator</button>
        <button class="tile__input-trap"></button>
        <div class="tile__display" id="calculatorscreen">
            <span class="tile__display__aside" id="expression">{{{subtitle}}}</span>
            <span class="tile__display__main" id="display" tabindex="0">{{{title_html}}}</span>

            <ul class="tile__options">
                <li class="tile__option tile__option__sci" data-tab="sci"><span>Scientific</span></li>
                <li class="tile__option tile__option__basic tile__option--active" data-tab="basic"><span>Basic</span></li>
                <li class="tile__option tile__option__history" data-tab="history"><span>History</span></li>
            </ul>
        </div>
        <div class="tile__tabs">
        
            <div class="tile__calc__col tile__tab__sci">
                <button class="tile__ctrl__toggle" data-cmd="NO">
                    <!-- TODO Replace with label + input[type=checkbox] -->
                    <span>DEG</span>
                    <div class="tile__ctrl__toggle-indicator"></div>
                    <span>RAD</span>
                </button>
                <button class="tile__ctrl__btn" data-cmd="META_PAR_OPEN" disabled>(</button>
                <button class="tile__ctrl__btn" data-cmd="META_PAR_CLOSE" disabled>)</button>

                <button class="tile__ctrl__btn" data-cmd="FN_SIN">sin</button>
                <button class="tile__ctrl__btn" data-cmd="FN_COS">cos</button>
                <button class="tile__ctrl__btn" data-cmd="FN_TAN">tan</button>
                <button class="tile__ctrl__btn" data-cmd="CONST_PI" disabled>&#x3c0;</button>

                <button class="tile__ctrl__btn" data-cmd="FN_FACT">x!</button>
                <button class="tile__ctrl__btn" data-cmd="FN_POW_2">x<sup>2</sup></button>
                <button class="tile__ctrl__btn" data-cmd="FN_POW_3">x<sup>3</sup></button>
                <button class="tile__ctrl__btn" data-cmd="FN_POW_N">x<sup>y</sup></button>

                <button class="tile__ctrl__btn" data-cmd="FN_DIV_1">1/x</button>
                <button class="tile__ctrl__btn" data-cmd="FN_SQRT">&#x221A;x</button>
                <button class="tile__ctrl__btn" data-cmd="FN_SQRT_N"><sup>x</sup>&#x221A;y</button>
                <button class="tile__ctrl__btn" data-cmd="FN_EE">&#x22FF;&#x22FF;</button>

                <button class="tile__ctrl__btn" data-cmd="FN_LOG">log</button>
                <button class="tile__ctrl__btn" data-cmd="FN_LN">ln</button>
                <button class="tile__ctrl__btn" data-cmd="FN_POW_E" disabled>e<sup>x</sup></button>
                <button class="tile__ctrl__btn" data-cmd="CONST_E" disabled>e</button>
            </div>
        
            <!-- basic calculations -->
            <div class="tile__calc__col tile__tab__basic">
                <button class="tile__ctrl__btn tile__ctrl--double" id="clear_button" data-cmd="META_CLEAR" value="C">C</button>
                <button class="tile__ctrl__btn tile__ctrl--ops" data-cmd="OP_PCT" value="%">%</button>
                <button class="tile__ctrl__btn tile__ctrl--important" data-cmd="OP_DIV" value="รท">&divide;</button>

                <button class="tile__ctrl__btn" value="7">7</button>
                <button class="tile__ctrl__btn" value="8">8</button>
                <button class="tile__ctrl__btn" value="9">9</button>
                <button class="tile__ctrl__btn tile__ctrl--important" data-cmd="OP_MULT" value="ร">&times;</button>

                <button class="tile__ctrl__btn" value="4">4</button>
                <button class="tile__ctrl__btn" value="5">5</button>
                <button class="tile__ctrl__btn" value="6">6</button>
                <button class="tile__ctrl__btn tile__ctrl--important" data-cmd="OP_MINUS" value="-">&minus;</button>

                <button class="tile__ctrl__btn" value="1">1</button>
                <button class="tile__ctrl__btn" value="2">2</button>
                <button class="tile__ctrl__btn" value="3">3</button>
                <button class="tile__ctrl__btn tile__ctrl--important" data-cmd="OP_PLUS" value="+">+</button>

                <button class="tile__ctrl__btn tile__ctrl--double" value="0">0</button>
                <button class="tile__ctrl__btn" value=".">.</button>
                <button class="tile__ctrl__btn tile__ctrl--important" data-cmd="META_PROCEED" value="=">=</button>
            </div>
        </div>
    </div>
</div>