#zci-htmlentities {
    overflow-x: scroll;
}

#zci-htmlentities table thead tr {
    border-bottom: 1px solid currentColor;

}

#zci-htmlentities table.htmlentities tbody tr:nth-child(odd) {
    background-color: rgba(1, 1, 1, 0.05);
}

#zci-htmlentities table.htmlentities tbody tr td.name {
    max-width: 100px;
    white-space: break-word;
}

#zci-htmlentities table.htmlentities tbody tr td,
#zci-htmlentities table.htmlentities thead tr th {
    padding: 10px;
}

#zci-htmlentities table tbody,
#zci-htmlentities table thead {
    display: block;
}

#zci-htmlentities table tbody {
    height: 400px;
    overflow-y: scroll;
}

#zci-htmlentities table {
    margin-bottom: 20px;
}
