<div class="game2048__container">

    <div id="dimContainer"></div>

    <span class="game2048__counter">
        <span class="game2048__points">0</span> Points
    </span>

    <table id="game2048__area" class ="game2048__area">
        {{#loop dimension}}
            <tr>{{#loop dimension}}<td class="boxtile val-"></td>{{/loop}}</tr>
        {{/loop}}
    </table>
</div>
