<div class="game2048__container">


    <div id="game2048__area_container">
        <div class="game2048__message">
            <p></p>
        </div>
        <table id="game2048__area" class ="game2048__area" tabindex="0">
            {{#loop 4}}
                <tr>{{#loop 4}}<td class="cell val-"></td>{{/loop}}</tr>
            {{/loop}}
        </table>
    </div>
    
    <div class="game2048__info">
        <div class="game2048__counter">
            <div class="game2048__points_addition"></div>
            <div class="game2048__points">0</div>
        </div>

        <div class="game2048__help tx-clr--dark">
            Use your <strong>arrow-keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one</strong>!
        </div>

        <button class="game2048__new_game">New Game</button>
    </div>

</div>
