<div class="game2048__container">

    <div id="dimContainer"></div>

    <span class="game2048__counter">
        Score: <span class="game2048__points">0</span>
    </span>

    <div class="game2048__area_container">
        <div id="game2048__area" class="game2048__area" tabindex="0">
            {{#loop dimension}}
                <div class="game2048__row">{{#loop dimension}}<div class="boxtile val-"></div>{{/loop}}</div>
            {{/loop}}
            <div class="game2048__message">cover</div>
        </div>
        
        <span class="game2048__info">
            <h5>How to play</h5>
            Use your <strong>arrow-keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one</strong>! 
        </span>
    </div>
</div>
