<i><b>Play <span id="game">{{inputNum}}</span>
<div id="dimContainer"><span id="dimension">{{dimension}}</span> x {{dimension}}</b></i></div>

<span class="counter"><span class="points">0</span> Points</span>
<div id="2048-area">

</div>
