<br><i><b>Play <span id="game">{{inputNum}}</span> <br><br>
<span id="dimension">{{dimension}}</span> x {{dimension}}</b></i>

<span class="counter"><span class="points">0</span> Points</span>
<div id="2048-area">

</div>
