@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes move-up {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: -25px;
    opacity: 0;
  }
}
@-moz-keyframes move-up {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: -25px;
    opacity: 0;
  }
}
@keyframes move-up {
  0% {
    top: 0px;
    opacity: 1;
  }
  100% {
    top: -25px;
    opacity: 0;
  }
}

.zci--game2048 .game2048__area {
    position: relative;
    float: left;
    background-color: #FFF;
    min-width: 340px;
    min-height: 340px;
    border-collapse: separate;
    border-spacing: 10px;
    border: 1px solid #DDD;
    outline: none;
}

.zci--game2048 .game2048__area:focus {
    box-shadow: 2px 4px 10px #ccc;
    -webkit-box-shadow: 2px 4px 10px #ccc;
    -moz-box-shadow: 2px 4px 10px #ccc;
}

.zci--game2048 .cell {
    background-color: #EEE;
    height: 75px;
    width: 75px;
    border-radius: 4px;
}

.zci--game2048 .boxtile {
    height: 75px;
    width: 75px;
    color: #FFF;
    text-align: center;
    line-height: 75px;
    font-weight: bold;
    font-size: x-large;
    border-radius: 4px;
    margin: 5px;
    position: absolute;
    transition: all 0.10s;
}

.zci--game2048 .game2048__message {
    display: none;
    background-color: rgba(238, 228, 218, 0.5);
    position: absolute;
    width: 352px;
    height: 352px;
    z-index: 100;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

.zci--game2048 .game2048__message.game2048__won {
    background: rgba(237, 194, 46, 0.5);
    color: #f9f6f2;
}

.zci--game2048 .game2048__message p {
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    line-height: 350px;
    height: 100%;
    padding: 0;
    text-shadow: 2px 2px 5px #B3B3B3;
}

.zci--game2048 .game2048__info {
    float: right;
    width: 35%;
}

.zci--game2048 .game2048__help {
    font-size: small;
    color: #888;
    margin-top: 15px;
}

.zci--game2048 .game2048__counter {
    position: relative;
    display: inline-block;
    margin-top: 15px;
}

.zci--game2048 .game2048__points {
    color: #888;
    font-size: 60px;
    line-height: 60px;
}
.zci--game2048 .game2048__points:before {
    content: "Score";
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 15px;
    line-height: 15px;
}

.zci--game2048 .game2048__counter .game2048__points_addition .score-addition {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

.zci--game2048 .game2048__new_game {
    background: #5DA4DC;
    color: #fff;
    text-decoration: none;
    font-size: 1.25em;
    padding: 10px 15px;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    margin-bottom: .25em;
    border: none;
}

.zci--game2048 .game2048__new_game:active {
    background: #4793D0;
}

.zci--game2048 .val-2 {
    background-color: #7CB5E2;
    box-shadow: 0px 3px 0px 0px #5FA5D9;
}
.zci--game2048 .val-4 {
    background-color: #4495D4;
    box-shadow: 0px 3px 0px 0px #397FB3;
}
.zci--game2048 .val-8 {
    background-color: #2F6895;
    box-shadow: 0px 3px 0px 0px #255174;
}
.zci--game2048 .val-16 {
    background-color: #F5BD70;
    box-shadow: 0px 3px 0px 0px #F3AE4F;
}
.zci--game2048 .val-32 {
    background-color: #F2A032;
    box-shadow: 0px 3px 0px 0px #CD8829;
}
.zci--game2048 .val-64 {
    background-color: #CD8829;
    box-shadow: 0px 3px 0px 0px #A87023;
}
.zci--game2048 .val-128 {
    background-color: #E37051;
    box-shadow: 0px 3px 0px 0px #DE5833;
}
.zci--game2048 .val-256 {
    background-color: #DE5833;
    box-shadow: 0px 3px 0px 0px #BD4A2B;
}
.zci--game2048 .val-512 {
    background-color: #BD4A2B;
    box-shadow: 0px 3px 0px 0px #9B3D24;
}

.zci--game2048 .val-1024 {
    background-color: #5454DA;
    box-shadow: 0px 3px 0px 0px #4747B9;
}

.zci--game2048 .val-2048 {
    background-color: #3B3C99;
    box-shadow: 0px 3px 0px 0px #2E2E78;
}

.zci--game2048 .val-4096, .val-8192 {
    background-color: #FFD700;
    color: #FFF;
    box-shadow: 0px 3px 0px 0px #E2BF00;
}
