.zci--game2048 .game2048__area {
    table-layout: fixed;
    border-collapse: separate;
    background-color: #F5F6F7;
    border-spacing: 10px;
    border: 1px solid #DDD;
}

.zci--game2048 .game2048__area .boxtile {
    height: 75px;
    width: 75px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    border-radius: 6px;
}

.zci--game2048 .game2048__info {
    margin-left: auto;
    margin-right: auto;
}

.zci--game2048 .game2048__counter {
    /*margin:auto;
    display:table;*/
}

.zci--game2048 .val-{ background-color: #DDD; }
.zci--game2048 .val-2 { background-color: #FFF; color: #000; }
.zci--game2048 .val-4{ background-color: #FFF; color: #000; }
.zci--game2048 .val-8 { background-color: #FFF; color: #000;  }
.zci--game2048 .val-16{ background-color: #FFF; color: #000;  }
.zci--game2048 .val-32 { background-color: #F2A032 ;color: #FFF;  }
.zci--game2048 .val-64 { background-color: #F2A032; color: #FFF;  }
.zci--game2048 .val-128 { background-color: #F2A032; color: #FFF;  }
.zci--game2048 .val-256 { background-color: #F2A032; color: #FFF;  }
.zci--game2048 .val-512 { background-color:#DE5833; color: #FFF; }
.zci--game2048 .val-1024 { background-color:#DE5833; color: #FFF; }
.zci--game2048 .val-2048 { background-color:#DE5833; color: #FFF;}
.zci--game2048 .val-4096 { background-color:#DE5833; color: #FFF; }
.zci--game2048 .val-8192 { background-color:#DE5833; color: #FFF; }
