<div class="zci--objects">
    <span class="objects--objectImage">{{{image}}}</span>
    <span class="objects--info">
        <span class="text--primary objects--objectAttribute">{{attributes}}</span>
        <span class="text--secondary objects--objectName">{{operation}}</span>
    </span>
</div>