<div class="gw">
    <div class="g html_beautifier--wrap fifty frm">
        <textarea name="html_beautifier--input" class="html_beautifier--input whole tx--12 frm__text" rows="{{cols}}" cols="60" placeholder="Paste code here..."></textarea>
    </div>

    <div class="g html_beautifier--wrap fifty frm is-hidden">
        <textarea name="html_beautifier--output" class="html_beautifier--output whole tx--12 frm__text" rows="{{cols}}" cols="60" readonly="readonly" onclick="this.focus();this.select()"></textarea>
    </div>

</div>

<div class="gw">
    <div class="g html_beautifier--action_box fifty">
        <button class="btn is-disabled html--beautify-btn" disabled>Beautify</button>
        <button class="btn is-disabled html--clear-btn" disabled>Clear</button>
    </div>
</div>