<div class="gw">
    <div class="g js_beautifier--wrap fifty frm">
        <textarea name="js_beautifier--input" class="js_beautifier--input whole tx--12 frm__text" rows="{{cols}}" cols="60" placeholder="Paste code here..."></textarea>
    </div>

    <div class="g js_beautifier--wrap fifty is-hidden frm">
        <textarea name="js_beautifier--output" class="js_beautifier--output whole tx--12 frm__text" rows="{{cols}}" cols="60" readonly="readonly" onclick="this.focus();this.select()"></textarea>
    </div>

</div>

<div class="gw">
    <div class="g js_beautifier--action_box fifty">
        <button class="btn btn--skeleton" disabled>Beautify Code</button>
    </div>
</div>
