<div class="frm">
  <div class="frm__select">
    <select>
      {{#each headings}}
        <option>{{this}}</option>
      {{/each}}
    </select>
  </div>
</div>

<table class="record__body">
  <tbody>
    <tr class="record__row">
      <td class="record__cell record__cell--key t-l">Calories:</td>
      <td class="record__cell record__cell--key t-l">{{calories}}</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell record__cell--key t-l">Protein:</td>
      <td class="record__cell record__cell--key t-l">{{protein}}</td>
    </tr>
  </body>
</table>
