
<h3>Nutrition Info</h3>

<div class="frm__select">
  <select>
    <option>Yo</option>
    <option>Yo</option>
    <option>Yo</option>
  </select>
</div>

<table class="record__body">
  <tbody>
    <tr class="record__row">
      <td class="record__cell  record__cell--key">Calories:</td>
      <td class="record__cell  record__cell--key">99</td>
    </tr>
    <tr class="record__row">
      <td class="record__cell  record__cell--key">Protein</td>
      <td class="record__cell  record__cell--key">79</td>
    </tr>
  </body>
</table>
